/results/
.Rhistory
bin/
target/
.settings/
__pycache__/
/diagrams/
.pydevproject
reporting/diagrams/*.*
!reporting/diagrams/.gitignore
reporting/shiny/tests/temp/*.*
!reporting/shiny/tests/temp/.gitignore
