/.CapitalNameTest.java._trace
/.MyDslValidatorTest.java._trace
/.IterationPhaseTest.java._trace
/.GeneratorTest.java._trace
/.StructuralTest.java._trace
/.BasicScenarioStructureTest.java._trace
/.CompositePhasesTest.java._trace
